<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Teambit</title>
  <meta name="description" content="">
  <meta name="author" content="Antonio Quattrocchi">
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- fontaweson -->
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">

  <!-- Stykesheets -->
  <link rel="stylesheet" href="public/assets/css/styles.css">

  <!-- favicon -->
  <link rel="shortcut icon" href="public/assets/img/favicon.ico" type="image/icon">
</head>

  <body>
    <div id="teambit-app" class="app-wrap">
      <div class="container-app">
        <nav id="navbar-top" >
          <img :src="value" alt="" :class="name" v-for="(value, name) in logo">
          
          <div class="navbar-rigth">
            <ul class="navbar-items">
              <a class="navbar-item" href="#" v-for="(value, name) in navbarItems">
                <li class="icon" v-text="value"></li>
              </a>
              <a class="btn btn-sign-up" :href="btnSignUp.link">
                <img class="google-logo" :src="btnSignUp.imgTxt" alt="">
                <span v-text="btnSignUp.txt"></span>
              </a>
            </ul>
  
            <span class="mobile-menu" href="#">
              <i class="fas fa-bars"></i>
            </span>
          </div>
          <!-- /.navbar-rigth -->
        </nav>
        <header id="header-app">
          <section class="info-header">
            <div class="info-text">
              <h1 class="title" v-text="header.title"></h1>
              <p class="subtitle" v-text="header.subtitle"></p>
              <!-- /.subtitle -->
              <div class="btn-wrap">
                <a class="btn btn-sign-up" :href="header.btnLink[0]">
                  <img class="google-logo" :src="header.btnImg[0]" alt="">
                  <span v-text="header.btnTxt[0]"></span>
                  </a>
                <span>or</span>
                <a class="btn btn-sign-up" :href="header.btnLink[1]">
                  <img class="google-logo" :src="header.btnImg[1]" alt="">
                  <span v-text="header.btnTxt[1]"></span>
                </a>
              </div>

              <a class="email-link" href="#">or use your email address <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            <!-- /.info-text -->
            <img class="img-box" :src="header.headerImg" alt="">
            <!-- /.img-box -->
          </section>
          <!-- /.info-header -->
    
        </header>

      </div>
      <!-- /.container -->
    </div>
    <!-- /.app_wrap -->

    <script src="public/assets/js/app.js"></script>

  </body>

</html>