@import "../base/variables";
@import "../base/typography";
@import "../base/_fontaweson.scss";



nav{
  @include flex();
  justify-content: space-between;
  min-height: 75px;
  width: 100%;
  background-color: $primary-bg-color;
  border-bottom: 1px solid #bdb5af;
  padding: 0 20px ;

  .navbar-rigth{
  @include flex();
  align-content: center;
  justify-content: end;
  
    .navbar-items{
    @include flex();
    align-content: center;

    @include for-tablet {
      display: none;
    }

    @include for-phone {
      display: none;
    }
      .navbar-item{
        @include flex();
        align-content: center;
        padding-left: 22px;
        text-transform: capitalize;
        color: $text-color-primary;
        @extend %fa-icon;
        @extend .fas;
        &:first-child::after {
          padding-left: 5px;
          content: fa-content($fa-var-chevron-down);
        }
      }

      a.btn-sign-up {
        display: inline-block;
        line-height: 35px;
        white-space: nowrap;
        vertical-align: middle;
        padding: 0 18px;
        margin-left: 20px;
        border: 1px solid $btn-border-color;
        border-radius: 7px;

        &:hover {
          background-color: $bg-btn-hover;
          @include btn-transition-hover; 
          color: #fff;

            .google-logo{
              filter: brightness(100);
            }
        }

        .google-logo {
          vertical-align: text-bottom;
          width: 18px;
          height: 18px;
        }
      }
    }



    span.mobile-menu {
      display: none;

      &:hover{
        background-color: $bg-btn-hover;
      }
      @include for-tablet {
        display: inline-block;
      }
      @include for-phone {
        display: inline-block;
      }
    }

  }

}
