//qui inseriremo le regole comuni

ul {
  list-style: none;

  a{
    text-decoration: none;
  }
}

@mixin flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}

@mixin flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

@mixin btn-transition-hover{
  transition: all 0.2s cubic-bezier(0.46, 0.12, 0.39, 0.72);
}

@mixin section-set{
  width: 100%;
  padding: 65px 0;
  color: $
}