//qui inseriremo le regole comuni

ul {
  list-style: none;

  a{
    text-decoration: none;
  }
}

p{
  @include text-set($size:$p-size, $weight:$p-weight, $line-height:$p-line-height);
}

//questa sostituisce le due precedenti
@mixin flex($direction:row,$wrap:wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin btn-transition-hover{
  transition: all 0.2s cubic-bezier(0.46, 0.12, 0.39, 0.72);
}

@mixin section-set($x: 100%, $pd: 65px 0, $color:#58402C, $bgColor:transparent) {
  width: $x;
  padding: $pd;
  background-color: $bgColor;
  color: $color;
}

//genero variabili
@mixin col($minOrmax:width, $num) {
  #{$minOrmax}: (100% / $colums * $num);
}

@mixin btn ($pd-bt: 0px 20px,){
  display: inline-block;
  line-height: 35px;
  white-space: nowrap;
  padding: $pd-bt;
  color: #fff;
  font-size: .875rem;
  background: #30488f;
  border: 1px solid #30488f;
  border-radius: 7px;
  text-decoration: none;
  img{
    height: 18px;
    vertical-align: text-bottom;
  }
}