$primary-bg-color:#ffffff;
$secondary-bg-color:#ffe7d2;
/* #93C7D0 - colore da modificare */

$text-color-primary: #58402C;

$bg-btn-sign: #30488f;
/* #922C2C colore da modificare per i btn */

$btn-border-color: #30488f;

$bg-btn-hover: #30488f;

$p-size: 1.4rem;
$p-weight: 400;
$p-line-height: 2rem;

@mixin text-set($size:$p-size, $weight:$p-weight, $line-height:$p-line-height) {
  font-size:$size;
  font-weight: $weight;
  line-height: $line-height;
  
}