$primary-bg-color:#ffffff;
$secondary-bg-color:#ffe7d2;
/* #93C7D0 - colore da modificare */

$text-color-primary: #58402C;

$bg-btn-sign: #30488f;
/* #922C2C colore da modificare per i btn */

$btn-border-color: #30488f;

$bg-btn-hover: #30488f;