//qui inseriremo tutte le nostre variabili

/* media  */
$mobile: 550px;
$tablet: 998px;
$desktop: 1170px;

$bp-mobile: "(max-width: 550px)";
$bp-tablet-min: "(min-width: 551px)";
$bp-tablet-max: "(max-width: 998px)";
$bp-desktop-min: "(min-width: 999px)";
$pd_20: 20px;

$fa-font-path: "../webfonts";
